body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 30px 30px 0px 150px;
}

.title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 700px;
}

.details {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
    width: 635px;
}

.button-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    gap: 10px;
    border: 0px;
    display: inline-flex;
    padding: 20px 45px;
}

.flower-header {
    text-align: left;
    justify-content: space-between;
    margin-left: 240px;
}

.image {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    align-content: space-around;
    margin-left: 95px;
    margin-top: 50px;
    margin-right: 240px;
}

.flower-shop-character {
    text-align: center;

}

.flower-type {
    color: #272727;
    font-size: 40px;
    font-weight: 800px;
    margin-top: 180px;
}

.flower-details {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    margin-top: 25px;
}

.flower-main {
    text-align: center;
    margin-top: 50px;
}

.flower-image1 {
    border-radius: 300px 300px 0px 0px;
    background-color: #A7216226;
    width: 464px;
    height: 538px;
    margin-right: 24px;

}

.flower-image2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    margin-right: 24px;


}

.flower-image3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}

.first,
.second,
.third {
    width: 314px;
    height: 471px;
    padding: 100px 50px 0px 50px;
}

.pic-title {
    text-decoration: underline;
    display: flex;
    text-align: center;
}

.pic-1 {
    padding-left: 380px;
}

.pic-2,
.pic-3 {
    padding-left: 310px;
}

.offers {
    padding-left: 150px;
    padding-top: 230px;

}

.hot-offers {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.offer-details {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 35px;

}

.offer-section {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    text-align: center;
    height: 620px;
    margin-top: 150px;
}

.offer-image {
    width: 318px;
    height: 420px;
    padding: 100px 200px;
}

#text-color {
    color: #E55473;
}

.instagram-section {
    text-align: center;
}

.insta-heading {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.insta-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.latest {
    text-align: center;
    background-image: url('../styles/Rectangle\ 9.png');
    padding: 100px 240px;
    margin: 130px 240px;
}

.latest-news {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.latest-offer {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.input {
    width: 600px;
    height: 50px;
    padding-right: 20px;
}

.footer {
    background-color: #111010;
    text-align: center;
    padding: 65px;
}

.footer-head {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.footer-para {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.footer-copy {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}
.shop-color{
    color: #FFFFFF;
}